/*
    Minecraft clone made with THREE.js
    By Amy Burnett
*/
body {
    margin: 0;
}

#info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    color:#fff;
}

/* Crosshair */

#crosshair-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crosshair {
    width: 4svh;
    aspect-ratio: 1/1;
    image-rendering: pixelated;
}

/* Inventory */

#inventory-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inventory-window {
    background-color: #aaa;
    border: 6px outset #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 85%;
    max-width: 85%;
    aspect-ratio: 1 / 1;
    padding: 2svh;
    /* Display the inventory in front of the HUD */
    position: relative;
    z-index: 1;
}

.inventory-window-row {
    flex: 1;
    /* padding: 5px; */
    display: flex;
    flex-direction: row;
}

#main-inventory-header-display {
    display: flex;
    flex-direction: row;
}

.inventory-half {
    flex-grow: 1;
    display: flex;
    width: 50%;
    height: 100%;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#crafting-input-container {
    /* background-color: red; */
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#crafting-arrow-container {
    /* background-color: lime; */
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#crafting-output-container {
    /* background-color: blue; */
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#crafting-arrow-image {
    height: 9.25svh;
    width: auto;
    max-width: 9.25svw;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}

.inventory-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75svh;
}

#toolbar-inventory-grid {
    position: absolute;
    bottom: 2svh;
}

.inventory-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.75svh;
}

.inventory-slot {
    display: flex;
    height: 9.25svh;
    width: auto;
    max-width: 9.25svw;
    aspect-ratio: 1 / 1;
    outline: 0.4svh inset rgb(200, 200, 200);
    background-color: #999;
    position: relative;
}

.held-slot {
    display: flex;
    height: 9.25svh;
    width: auto;
    max-width: 9.25svw;
    aspect-ratio: 1 / 1;
    outline: 0.4svh inset rgb(200, 200, 200);
    background-color: #999;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.inventory-icon {
    width: 100%;
    height: 100%;
    /* This avoids images from looking blurry */
    /* Considering that we are blowing up 16px images to 64px */
    image-rendering: pixelated;
    user-select: none;
}

.inventory-amount {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 4svh;
    text-align: right;
    padding: 0.2svh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* text outline */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    user-select: none;
}

.inventory-durability-bar {
    background-color: black;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
}

.inventory-durability-progress {
    background-color: lime;
    height: 50%;
}

/* Crafting table interface */

#crafting-table-display {
    /* background-color: magenta; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.crafting-table-container {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}


/* Furnace interface */

.furnace-inputs-container {
    /* background-color: cyan; */
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.furnace-smelt-input-container {
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.furnace-fuel-input-container {
    /* background-color: yellow; */
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.furnace-middle-column {
    /* background-color: lime; */
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#furnace-arrow-container {
    /* background-color: pink; */
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: center;
}

#furnace-progress-arrow-image {
    height: 9.25svh;
    width: auto;
    max-width: 9.25svw;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}

.furnace-fuel-bar-container {
    /* background-color: cyan; */
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: center;
}

.furnace-fuel-bar {
    background-color: #999;
    outline: 0.4svh inset rgb(200, 200, 200);
    display: flex;
    width: 100%;
    height: 33%;
    align-items: center;
    justify-content: left;
}

.furnace-fuel-progress {
    background-color: #efc438;
    display: flex;
    /* Starts at 0 bc initially it has no fuel */
    width: 0%;
    height: 100%;
    align-items: center;
    justify-content: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    color: #555;
    font-weight: bold;
}

.furnace-output-container {
    /* background-color: blue; */
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#crafting-arrow-image {
    height: 9.25svh;
    width: auto;
    max-width: 9.25svw;
    aspect-ratio: 1 / 1;
    image-rendering: pixelated;
}

/* Toolbar */

#toolbar-container {
    position: fixed;
    bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#toolbar {
    background-color: rgba(38, 29, 17, 0.75);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    position: relative;
    z-index: 0;
}

.toolbar-slot {
    height: 9.25svh;
    width: auto;
    max-width: 9.25svw;
    aspect-ratio: 1 / 1;
    border: 0.75svh outset rgb(100, 100, 100);
    position: relative;
}

.toolbar-slot.selected {
    border: 0.75svh solid white;
}

.toolbar-icon {
    width: 100%;
    height: 100%;
    /* This avoids images from looking blurry */
    /* Considering that we are blowing up 16px images to 64px */
    image-rendering: pixelated;
    user-select: none;
}

.toolbar-amount {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 4svh;
    text-align: right;
    padding: 0.2svh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* text outline */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    user-select: none;
}

/* Debug HUD */

#debug-hud-container {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 2.5svh;
    padding: 2.5svh;
}

#debug-hud-contents {
    width: fit-content;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.75);
}

/* Pause menu */

#pause-menu-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pause-menu-container h1 {
    color: white;
}

.menu-button {
    background-color: #aaa;
    border: 5px outset #ddd;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}