/*
    Minecraft clone made with THREE.js
    By Amy Burnett
    September 19, 2024
*/
body {
    margin: 0;
}

#info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    color:#fff;
}